*.class
hibernate.cfg.xml
hibernate.reveng.xml
*.properties

# Package Files #
*.jar
*.war
*.ear
/MOMA/nbproject/private/
/MOMA/build/
/MOMA/dist/
/JSFWebApplication/nbproject/private/
/JSFWebApplication/build/
/JSFForFun/nbproject/private/
/JSFForFun/build/
/JSFForFun/dist/
/ZhaoQingShanPao/nbproject/private/
/ZhaoQingShanPao/build/
/Exercise2/nbproject/private/
/Exercise2/build/
/Exercise2/dist/
/Exercise2Dup/nbproject/private/
/Exercise2Dup/build/
/Exercise2Dup/dist/
